table{
  width: 100px;
  height: 100px;
}
table,th,tr,td{
  border: 2px solid black;
  border-collapse: collapse;
}
th,td{
  text-align: center;
}
th{
  background-color: blue;
}
tr:nth-child(even) {
  background-color: rgb(193, 192, 192);
}
